<div class="relative overflow-x-auto sm:rounded-lg">
  <p class="font-[Monospace] rounded-lg text-xs md:text-lg text-center flex justify-center items-center">Gestionar Textos</p>
<table class="table-auto w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <!-- Título o encabezado de la tabla -->
  
    <!-- Encabezado de la tabla -->
    <thead>
   
    </thead>
  
    <!-- Cuerpo de la tabla -->
    <tbody>
      <tr>
        <td class="text-right">
            <button (click)="openModal()" class="p-2 bg-[#96C2DB] hover:bg-[#FFCE32] rounded-lg">
                <i class="fa-solid fa-user-plus fa-2x"></i>
              </button>
        </td>
      </tr>
    </tbody>
  
    <!-- Pie de la tabla -->
    <tfoot>
    </tfoot>
  </table>
</div>
  



