

<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="libro-tres.webp" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="libro-biblioteca-libro-texto-abierto.webp" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="libro-tres.webp" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="libro-biblioteca-libro-texto-abierto.webp" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="libro-uno.webp" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="libro-tres.webp" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="libro-dos.webp" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="libro-dos.webp" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="libro-biblioteca-libro-texto-abierto.webp" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="libro-uno.webp" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="libro-uno.webp" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="libro-biblioteca-libro-texto-abierto.webp" alt="">
        </div>
    </div>
</div>
